<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            position: relative; /* Set the container to relative positioning */
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        p {
            margin-bottom: 20px;
        }
        a {
            display: block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            margin-bottom: 10px; /* Adds space between links */
            width: 200px; /* Adjust the width of the links */
            text-align: center; /* Center the text */
        }
        a:hover {
            background-color: #0056b3;
        }
        button {
            position: absolute; /* Set the button to absolute positioning */
            top: 10px; /* Adjust the top distance */
            right: 10px; /* Adjust the right distance */
            padding: 10px 20px;
            background-color: #dc3545;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #c82333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hello, <%= user.username %>!</h1>
        <form id="logoutForm" action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a href="/create-poll">Create Poll</a>
        <a href="/voting-events">Show all Polls</a>
        <a href="/delete">Delete my Poll</a>
        <a href="/my-events">My events</a>
    </div>
</body>
</html>
